# Scrape Pandas Table

In [1]:
import pandas as pd

In [2]:
# Read in HTML tables into a DataFrame
df = pd.read_html('https://en.wikipedia.org/wiki/COVID-19_vaccine')

In [3]:
# Select the Third table
Covid_table = df[3]
Covid_table

,Unnamed: 0,Location,Vaccinated[b],Percent[c]
0,NaN,World[d][e],5629458428,70.59%
1,NaN,China[f],1310292000,91.89%
2,NaN,India,1027419420,72.50%
3,NaN,European Union[g],338051524,75.10%
4,NaN,United States[h],270227181,81.39%
...,...,...,...,...
218,NaN,Montserrat,2104,47.68%
219,NaN,Niue,1650,102.23%
220,NaN,Pitcairn Islands,47,100.00%
221,NaN,North Korea,0,0.00%
222,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...

In [4]:
# Drop unwanted rows
Covid_table.drop([0,3,222], axis=0, inplace=True)

# Drop columns which are not required and rename columns
Cleaned= Covid_table.drop(['Unnamed: 0','Vaccinated[b]'], axis=1)
Cleaned.rename(columns = {'Location':'Country'}, inplace = True)
Cleaned.rename(columns = {'Percent[c]': 'Population vaccinated'}, inplace = True)

# Rename countries with superscript
Cleaned['Country'] = Cleaned['Country'].replace(['China[f]'], 'China')
Cleaned['Country'] = Cleaned['Country'].replace(['United States[h]'], 'United States of America')
Cleaned['Country'] = Cleaned['Country'].replace(['Italy[i]'], 'Italy')

In [5]:
Cleaned

                      Country Population vaccinated
1                       China                91.89%
2                       India                72.50%
4    United States of America                81.39%
5                   Indonesia                74.00%
6                      Brazil                88.08%
..                        ...                   ...
217                   Tokelau               116.38%
218                Montserrat                47.68%
219                      Niue               102.23%
220          Pitcairn Islands               100.00%
221               North Korea                 0.00%

[220 rows x 2 columns]

In [6]:
Cleaned.to_csv('../Resources/Vaccine_Scrap.csv')